# orderly
ORDERLYOP_PRIVATE_KEY=
ORDERLYMAIN_PRIVATE_KEY=

# arbitrum
ARBITRUM_PRIVATE_KEY=
ARBITRUMGOERLI_PRIVATE_KEY=
ARBSEPOLIAD_PRIVATE_KEY=

# optimism
OPTIMISM_PRIVATE_KEY=
OPGOERLI_PRIVATE_KEY=
OPSEPOLIA_PRIVATE_KEY=

# polygon
POLYGON_PRIVATE_KEY=
MUMBAI_PRIVATE_KEY=

# Base
BASE_PRIVATE_KEY=
BASESEPOLIA_PRIVATE_KEY=


# 1. Network Information Board

RPC_URL_AVALANCHE="https://avalanche-c-chain-rpc.publicnode.com"
AVALANCHE_CHAIN_ID="43114"
AVALANCHE_LZ_CHAIN_ID="106"
AVALANCHE_ENDPOINT="0x3c2269811836af69497E5F486A85D7316753cf62"
AVALANCHE_EXPLORER_TYPE="etherscan"
AVALANCHE_EXPLORER_API_URL="https://api.avascan.info/v2/network/mainnet/evm/43114/etherscan"
AVALANCHE_ETHERSCAN_API_KEY="key"

RPC_URL_ETHEREUM="https://ethereum-rpc.publicnode.com"
ETHEREUM_CHAIN_ID="1"
ETHEREUM_LZ_CHAIN_ID="101"
ETHEREUM_ENDPOINT="0x66A71Dcef29A0fFBDBE3c6a460a3B5BC225Cd675"
ETHEREUM_EXPLORER_TYPE="etherscan"
ETHEREUM_EXPLORER_API_URL="https://api.etherscan.io/api"
ETHEREUM_ETHERSCAN_API_KEY=""

### testnet sepolia
RPC_URL_SEPOLIA="https://sepolia.gateway.tenderly.co"
SEPOLIA_CHAIN_ID="11155111"
SEPOLIA_LZ_CHAIN_ID="10161"
SEPOLIA_ENDPOINT="0xae92d5aD7583AD66E49A0c67BAd18F6ba52dDDc1"
SEPOLIA_EXPLORER_TYPE="etherscan"
SEPOLIA_EXPLORER_API_URL="https://api-sepolia.etherscan.io/api"
SEPOLIA_ETHERSCAN_API_KEY=""

RPC_URL_FUJI="https://avalanche-fuji-c-chain-rpc.publicnode.com"
FUJI_CHAIN_ID="43113"
FUJI_LZ_CHAIN_ID="10106"
FUJI_ENDPOINT="0x93f54D755A063cE7bB9e6Ac47Eccc8e33411d706"
FUJI_EXPLORER_TYPE="etherscan"
FUJI_EXPLORER_API_URL="https://api.avascan.info/v2/network/testnet/evm/43113/etherscan"
FUJI_ETHERSCAN_API_KEY="key"


## 1.1 Arbitrum
### testnet goerli
ARBITRUMGOERLI_CHAIN_ID="421613"
RPC_URL_ARBITRUMGOERLI="https://goerli-rollup.arbitrum.io/rpc"
#### Explorer information
ARBITRUMGOERLI_EXPLORER_TYPE="etherscan"
ARBITRUMGOERLI_EXPLORER_API_URL="https://api-goerli.arbiscan.io/api"
ARBITRUMGOERLI_ETHERSCAN_API_KEY=""
#### Layerzero information
ARBITRUMGOERLI_LZ_CHAIN_ID="10143"
ARBITRUMGOERLI_ENDPOINT="0x6aB5Ae6822647046626e83ee6dB8187151E1d5ab"

### testnet sepolia
ARBSEPOLIA_CHAIN_ID="421614"
RPC_URL_ARBSEPOLIA="https://sepolia-rollup.arbitrum.io/rpc"
#### Explorer information
ARBSEPOLIA_EXPLORER_TYPE="etherscan"
ARBSEPOLIA_EXPLORER_API_URL="https://api-sepolia.arbiscan.io/api"
ARBSEPOLIA_ETHERSCAN_API_KEY="VBIU2GPYM7D37MJ94D3D8X1DU8TNIAPUVH"
#### Layerzero information
ARBSEPOLIA_LZ_CHAIN_ID="10231"
ARBSEPOLIA_ENDPOINT="0x6098e96a28E02f27B1e6BD381f870F1C8Bd169d3"

### mainnet arbitrum one
ARBITRUM_CHAIN_ID="42161"
RPC_URL_ARBITRUM="https://arb1.arbitrum.io/rpc"
#### Explorer information
ARBITRUM_EXPLORER_TYPE="etherscan"
ARBITRUM_EXPLORER_API_URL="https://api.arbiscan.io/api"
ARBITRUM_ETHERSCAN_API_KEY=""
#### Layerzero information
ARBITRUM_LZ_CHAIN_ID="110"
ARBITRUM_ENDPOINT="0x3c2269811836af69497E5F486A85D7316753cf62"


## 1.2 Optimism
### testnet goerli
OPGOERLI_CHAIN_ID="420"
RPC_URL_OPGOERLI="https://optimism-goerli.publicnode.com"
#### Explorer information
OPGOERLI_EXPLORER_TYPE="etherscan"
OPGOERLI_EXPLORER_API_URL="https://api-goerli-optimistic.etherscan.io/api"
OPGOERLI_ETHERSCAN_API_KEY=""
#### Layerzero information
OPGOERLI_LZ_CHAIN_ID="10132"
OPGOERLI_ENDPOINT="0xae92d5aD7583AD66E49A0c67BAd18F6ba52dDDc1"

### testnet sepolia
OPSEPOLIA_CHAIN_ID="11155420"
RPC_URL_OPSEPOLIA="https://sepolia.optimism.io"
#### Explorer information
OPSEPOLIA_EXPLORER_TYPE="etherscan"
OPSEPOLIA_EXPLORER_API_URL="https://api-sepolia-optimistic.etherscan.io/api"
OPSEPOLIA_ETHERSCAN_API_KEY=""
#### Layerzero information
OPSEPOLIA_LZ_CHAIN_ID="10232"
OPSEPOLIA_ENDPOINT="0x55370E0fBB5f5b8dAeD978BA1c075a499eB107B8"

### mainnet optimism
OPTIMISM_CHAIN_ID="10"
RPC_URL_OPTIMISM="https://optimism.publicnode.com"
#### Explorer information
OPTIMISM_EXPLORER_TYPE="etherscan"
OPTIMISM_EXPLORER_API_URL="https://api-optimistic.etherscan.io/api"
OPTIMISM_ETHERSCAN_API_KEY=""
#### Layerzero information
OPTIMISM_LZ_CHAIN_ID="111"
OPTIMISM_ENDPOINT="0x3c2269811836af69497E5F486A85D7316753cf62"

## 1.3 Orderly
### testnet orderly sepolia
ORDERLYOP_CHAIN_ID="4460"
RPC_URL_ORDERLYOP="https://l2-orderly-l2-4460-sepolia-8tc3sd7dvy.t.conduit.xyz"
#### Explorer information
ORDERLYOP_EXPLORER_TYPE="blockscout"
ORDERLYOP_EXPLORER_API_URL="https://testnet-explorer.orderly.org/api\?"
#### Layerzero information
ORDERLYOP_LZ_CHAIN_ID="10200"
ORDERLYOP_ENDPOINT="0x83c73Da98cf733B03315aFa8758834b36a195b87"

### mainnet orderly op
ORDERLYMAIN_CHAIN_ID="291"
RPC_URL_ORDERLYMAIN="https://rpc.orderly.network"
#### Explorer information
ORDERLYMAIN_EXPLORER_TYPE="blockscout"
ORDERLYMAIN_EXPLORER_API_URL="https://explorer.orderly.network/api\?"
#### Layerzero information
ORDERLYMAIN_LZ_CHAIN_ID="213"
ORDERLYMAIN_ENDPOINT="0xb6319cC6c8c27A8F5dAF0dD3DF91EA35C4720dd7"

# Polygon
POLYGON_CHAIN_ID="137"
RPC_URL_POLYGON="https://polygon-bor.publicnode.com"
#### Explorer information
POLYGON_EXPLORER_TYPE="etherscan"
POLYGON_EXPLORER_API_URL="https://api.polygonscan.com/api"
POLYGON_ETHERSCAN_API_KEY=""
#### Layerzero information
POLYGON_LZ_CHAIN_ID="109"
POLYGON_ENDPOINT="0x3c2269811836af69497E5F486A85D7316753cf62"


# Testnet Mumbai
MUMBAI_CHAIN_ID="80001"
# RPC_URL_MUMBAI="https://rpc.ankr.com/polygon_mumbai"
RPC_URL_MUMBAI="https://polygon-mumbai-bor.publicnode.com"
#### Explorer information
MUMBAI_EXPLORER_TYPE="etherscan"
MUMBAI_EXPLORER_API_URL="https://api-testnet.polygonscan.com/api"
MUMBAI_ETHERSCAN_API_KEY=""
#### Layerzero information
MUMBAI_LZ_CHAIN_ID="10109"
MUMBAI_ENDPOINT="0xf69186dfBa60DdB133E91E9A4B5673624293d8F8"

# Testnet Amoy
RPC_URL_AMOY="https://rpc-amoy.polygon.technology/"
AMOY_CHAIN_ID="80002"
AMOY_EXPLORER_TYPE=""
AMOY_EXPLORER_API_URL=""
AMOY_ETHERSCAN_API_KEY=""
AMOY_LZ_CHAIN_ID="10267"
AMOY_ENDPOINT="0x55370E0fBB5f5b8dAeD978BA1c075a499eB107B8"

# Base Mainnet
# Name	Value
# Network Name	Base Mainnet
# Description	The public mainnet for Base.
# RPC Endpoint	https://mainnet.base.org
# Rate limited and not for production systems.
# Chain ID	8453
# Currency Symbol	ETH
# Block Explorer	https://basescan.org
# Base Testnet (Sepolia)
# Name	Value
# Network Name	Base Sepolia
# Description	A public testnet for Base.
# RPC Endpoint	https://sepolia.base.org
# Rate limited and not for production systems.
# Chain ID	84532
# Currency Symbol	ETH
# Block Explorer	https://sepolia-explorer.base.org

# Base

# Base Sepolia Testnet
BASESEPOLIA_CHAIN_ID="84532"
RPC_URL_BASESEPOLIA="https://sepolia.base.org"
#### Explorer information
BASESEPOLIA_EXPLORER_TYPE="etherscan"
BASESEPOLIA_EXPLORER_API_URL="https://api-sepolia.basescan.org/api"
BASESEPOLIA_ETHERSCAN_API_KEY=""
#### Layerzero information
BASESEPOLIA_LZ_CHAIN_ID="10245"
BASESEPOLIA_ENDPOINT="0x55370E0fBB5f5b8dAeD978BA1c075a499eB107B8"

# Base Mainnet
BASE_CHAIN_ID="8453"
RPC_URL_BASE="https://mainnet.base.org"
#### Explorer information
BASE_EXPLORER_TYPE="etherscan"
BASE_EXPLORER_API_URL="https://api.basescan.org/api"
BASE_ETHERSCAN_API_KEY=""
#### Layerzero information
BASE_LZ_CHAIN_ID="184"
BASE_ENDPOINT="0xb6319cC6c8c27A8F5dAF0dD3DF91EA35C4720dd7"

# Mantle

# Mantle Mainnet
MANTLE_CHAIN_ID="5000"
RPC_URL_MANTLE="https://rpc.mantle.xyz"
#### Explorer information
MANTLE_EXPLORER_TYPE="blockscout"
MANTLE_EXPLORER_API_URL="https://explorer.mantle.xyz/api\?"
#### Layerzero information
MANTLE_LZ_CHAIN_ID="181"
MANTLE_ENDPOINT="0xb6319cC6c8c27A8F5dAF0dD3DF91EA35C4720dd7"

# Mantle Sepolia Testnet
MANTLESEPOLIA_CHAIN_ID="5003"
RPC_URL_MANTLESEPOLIA="https://rpc.sepolia.mantle.xyz"
#### Explorer information
MANTLESEPOLIA_EXPLORER_TYPE="blockscout"
MANTLESEPOLIA_EXPLORER_API_URL="https://sepolia.mantlescan.xyz/api\?"
#### Layerzero information
MANTLESEPOLIA_LZ_CHAIN_ID="10246"
MANTLESEPOLIA_ENDPOINT="0x53fd4C4fBBd53F6bC58CaE6704b92dB1f360A648"


# SEI Devnet
SEIDEV_CHAIN_ID="713715"
RPC_URL_SEIDEV="https://evm-rpc.arctic-1.seinetwork.io"
## Explorer information
SEIDEV_EXPLORER_TYPE="etherscan"
SEIDEV_EXPLORER_API_URL="https://api-arctic-1.seitrace.com/api"
## Layerzero v1 information
SEIDEV_LZ_CHAIN_ID="10258"
SEIDEV_ENDPOINT="0x4e08B1F1AC79898569CfB999FB92B5495FB18A2B"

# SEI Mainnet
SEI_CHAIN_ID="1329"
RPC_URL_SEI="https://evm-rpc.sei-apis.com"
## Explorer information
SEI_EXPLORER_TYPE="etherscan"
SEI_EXPLORER_API_URL="https://seitrace.com/pacific-1/api"
## Layerzero v1 information
SEI_LZ_CHAIN_ID="280"
SEI_ENDPOINT="0xb6319cC6c8c27A8F5dAF0dD3DF91EA35C4720dd7"

# Story Testnet ChainID	1513 , rpc https://story-rpc01.originstake.com, lz endpoint 0x83c73Da98cf733B03315aFa8758834b36a195b87 id 10315
STORYTEST_CHAIN_ID="1513"
RPC_URL_STORYTEST="https://lightnode-json-rpc-story.grandvalleys.com"
## Explorer information
STORYTEST_EXPLORER_TYPE="blockscout"
STORYTEST_EXPLORER_API_URL="https://testnet.storyscan.xyz/api\?"
## Layerzero information
STORYTEST_LZ_CHAIN_ID="10315"
STORYTEST_ENDPOINT="0x83c73Da98cf733B03315aFa8758834b36a195b87"

# Morph Morph Holesky ChainID 2810, rpc https://rpc-holesky.morphl2.io , lz endpoint 0x83c73Da98cf733B03315aFa8758834b36a195b87 id 10322
MORPHHOLESKY_CHAIN_ID="2810"
RPC_URL_MORPHHOLESKY="https://rpc-holesky.morphl2.io"
## Explorer information
MORPHHOLESKY_EXPLORER_TYPE="blockscout"
MORPHHOLESKY_EXPLORER_API_URL="https://explorer-holesky.morphl2.io/api\?"
## Layerzero information
MORPHHOLESKY_LZ_CHAIN_ID="10322"
MORPHHOLESKY_ENDPOINT="0x83c73Da98cf733B03315aFa8758834b36a195b87"

## 2. Project Meta Information Json Config Files
DEPLOY_RELAY_SAVE_FILE="config/cross-chain-relay.json"
DEPLOY_CCMANAGER_SAVE_FILE="config/cross-chain-manager.json"
DEPLOY_PROJECT_RELATED_FILE="config/project-related.json"
TOKEN_DECIMAL_CONFIG_FILE="config/token-decimals.json"

## Other Networks
FUJI_CHAIN_ID="43113"
ORDERLY_CHAIN_ID="986532"
ORDERLYOP_CHAIN_ID="4460"
ARBITRUMGOERLI_CHAIN_ID="421613"
MUMBAI_CHAIN_ID="80001"
ARBITRUM_CHAIN_ID="42161"
ORDERLYMAIN_CHAIN_ID="291"
OPGOERLI_CHAIN_ID="420"

FUJI_LZ_CHAIN_ID="10106"
ORDERLY_LZ_CHAIN_ID="10174"



