ORDERLY_PRIVATE_KEY=""
FUJI_PRIVATE_KEY=""
MUMBAI_PRIVATE_KEY=""

RPC_URL_ETHEREUM="https://rpc.ankr.com/eth"
RPC_URL_GOERLI="https://rpc.ankr.com/eth_goerli"
RPC_URL_HYPERSPACE="https://rpc.ankr.com/filecoin_testnet"
RPC_URL_SEPOLIA="https://rpc.sepolia.org"
RPC_URL_FUJI="https://api.avax-test.network/ext/bc/C/rpc"
RPC_URL_ORDERLY="https://testnet-fuji-rpc-1.orderly.network/ext/bc/fVgSf4ruGhwvEMd8z6dRwsH6XgRaq31wxN4tRhZPN6rWYhjVt/rpc"
RPC_URL_MUMBAI="https://polygon-mumbai.infura.io/v3/eda7ae04091a465eb960308cb44bf0b3"
RPC_URL_BSC="https://bsc-dataseed1.binance.org"