[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/contract-evm"]
	path = lib/contract-evm
	url = git@github.com:OrderlyNetwork/contract-evm.git
